<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Go To Page</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGoTo()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="goToPageNum()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Enter The Page Number</span>
          <input type="text" ng-model="page.number">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Go</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
